<html>
  <body>
  	<center>
  	  <h2>Your Original Url is: http://localhost:3000/<%=@url.original_url%></h2>
      <h2>Your Shortener Url is: http://localhost:3000/<%=@url.short_url%></h2>
    </center>
  </body>
</html>
