<html>
  <body>
  	<center>
      <h2>Your Shortener Url is: <%=@url.short_url%></h2>
      <a href = "/urls/fetch_original_url?short_url=<%=@url.short_url%>">Please click here for original url</a>
    </center>
  </body>
</html>
